* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0em;
    
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

#input2 {
    margin-top: 5px;
}

#title {
    color: whitesmoke;
    margin-bottom: 0;
    font-size: 35px;
    text-shadow: 0 0 6px black;
    font-weight: bold;
    text-align: center;
}
#background {
    background-color: rgba(0, 0, 0, 34%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#essais {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

form > * {
    margin-top: 34px;
}

input {
    border: 0px;
    -moz-appearance:textfield;
    height: 54px;
    width: 100vw;
    text-align: center;
    background: lightgray;
    background-color: black;
    color: blanchedalmond;
    transition-duration: .2s;
}

input:hover {
    transform: scale(1.1);
}

input:focus::placeholder {
    color: black;
}

input[type="submit"]{
    border-radius: 28px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.90);
    border: 1px solid #331533;
    box-shadow: 0 0 10px #ff5cff ;
    color:#da6ada;
    width: 465px;
    font-size: 23px;
    font-weight: bold;
    animation: 1.5s ease-in-out 0s infinite alternate both running animation1;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*
align-items
*/

@keyframes animation1{
    0% {
        width: 300px;
    }
    100% {
        width: 350px;
    }
}
@keyframes animation2{
    0% {
        height: 300px;
    }
    100% {
        height: 350px;
    }
}